body {
  font-family: "Inter", sans-serif;
  margin: 0px;
  padding: 0px;
}
.get-started {
  margin: auto;
  width: 920px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.mm {
  color: rgba(135, 30, 53, 1);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
}
h3 {
  height: 120px;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 150%;
  color: #24221e;
  margin-bottom: 40px;
}
img {
  margin-bottom: 20px;
}
