<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="img">
      <img src="assets\Stepper Horizontal (1).svg" alt="" srcset="" />
    </div>
    <div class="word">
      <span>Amount</span>
      <span>Confirmation</span>
      <span>Payment</span>
    </div>
    <div class="content">
      <div>
        <span class="m">Total amount</span>
        <span>1000 EGP</span>
        <hr />
        <div class="mm">
          <div class="image">
            <img src="assets\bank.svg" alt="" srcset="" />
          </div>
          <div>
            <p>From</p>
            <p>Jonathon Smith</p>
            <p>Account xxxx7890</p>
          </div>
        </div>
        <div class="mm">
          <div class="image">
            <img src="assets\bank.svg" alt="" srcset="" />
          </div>
          <div>
            <p>to</p>
            <p>Asmaa Dosuky</p>
            <p>Account xxxx7890</p>
          </div>
        </div>
        <button (click)="navigateToConfirmComponent()">Continue</button>
        <button (click)="navigateToConfirmComponent()">Back</button>
      </div>
    </div>
  </body>
</html>
